<ion-view view-title="Canvas">
    <ion-content class="canvasPage">
        <div class="m-signature-pad--body">
            <img src="{{finalPictureUrl}}" alt="Edited image">
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" style="background-color:#d2860e;border-color:#d2860e;">
        <div class="button-bar">
            <button class="button" style="color:white;background-color:#d2860e;border-color:#d2860e;" ng-click="GoBack()">Go Back</button>
        </div>
    </ion-footer-bar>
</ion-view>